/* Headings font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

/* Content fonts */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Gentium+Basic&display=swap');


:root {
  --primary: #000000;
  --secondary: #ff1e56;
  --color1: #ffac41;
  --color2: #323232;
}

img {
  width: 130px;
}

body {
  margin: 0;
  /* background-image: linear-gradient(to right bottom, #6d6d6d, #585858, #444444, #303030, #1e1e1e, #241e23, #2e1c22, #361b1a, #582d1d, #724517, #816409, #818700); */
  /* background-image: url('image/background.jpg'); */
  background-color: var(--primary);
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Gentium Basic', serif;
}

h1 {
  font-family: 'Josefin Sans', serif;
}

.outer-wrapper {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.content {
  display: inline-block;
  margin: 10px;
  /* padding: 10px; */
  /* background: #aaa; */
  background-color: rgba(0, 0, 0, 0.507);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  /* padding: 20px; */
  color: var(--color1);
  min-width: 400px;
  max-width: 78vw;
  min-height: 92vh;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid var(--secondary);
  box-shadow: 2px 2px 4px #000;
  white-space: nowrap;
}

.gradient-text {
  background: linear-gradient(to right bottom, var(--secondary), var(--color1) );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-container {
  position: fixed;
  position: -webkit-fixed;
  height: 100vh;
  width: 60px;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 5;
}

#nav-bar {
  background-color: rgb(0, 0, 0);
  /* backdrop-filter: blur(25px); */
  position: relative;
  width: 65%;
  border: 2px solid var(--secondary);
  border-radius: 15px;
  box-shadow: 2px 2px 4px #000;
  margin-top: -100px;
}

#nav-bar a {
  /* color: white; */
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 7px;
  padding-top: 15px;
}

#nav-bar a:hover {
  font-size: 30px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 12px;
  padding: 10px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 15px;
}

.timeline-box {
  display: inline-block;
}

::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, var(--secondary), var(--color1) );
  /* background-color: var(--secondary); */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  backgrou1ond: linear-gradient(to left, var(--secondary), var(--color1) );
}

#about {
  height: 88vh;
  margin-left: 100px;
 background: url('/image/sk6-3.jpg');
 background-attachment: fixed;
 background-position: right;
 background-size: cover;
 white-space: normal;
 overflow: hidden;
}

#about-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 60%;
  background: rgba(0, 0, 0, 0.507);
  backdrop-filter: blur(3px);
  padding: 20px;
}
